aside, article, section, header, footer, nav {
    display: block;
}
html{
    max-width: 100%;
}

/* TYPE 1 style */
@media only screen and (min-width:769px){
    
    body {
        margin: 10px 5% 10px 5%;
        padding: 10px;
        min-width: 90%;
        max-width: 90%;
        background-color: lightgoldenrodyellow;
    }

    header {
        width: inherit;
        min-height: 100px;
        max-height: 100px;
        background-color: rgb(125,125,125);
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
        background: #e2e2e2; /* Old browsers */
        background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

        margin-bottom: 15px;
        border-top: 10px solid white;
        border-bottom: 10px solid silver;
        border-left: 10px solid white;
        border-right: 10px solid silver;

    }
    header h1 {
        line-height: 1em;
        font-family: impact;
        font-size: 3.0em;
        color: purple;
        overflow: hidden;
        text-align: center;
    }
    
     header h2{
        font-family: Comic sans MS;
        line-height: 1em;
        font-size: 1.2em;
        color: purple;
        overflow: hidden;
        text-align: center;
    }
    
    nav {
        max-width:inherit;
        min-height: 30px;
        max-height: auto;
        min-width: 100%;
        border-left: 3px solid #333;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    nav li {
        font-family: Verdana Arial Georgia;
        font-weight: bold;
        float: left;
        margin: 1px; 
        border-right: 3px solid grey;   
        float: left;

   }
   nav select{
        display: none;
   }

   li a, .dropbtn {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }

   li a:hover, .dropdown:hover .dropbtn {
       background-color: red;
   }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(255,255,255);
        min-width: 160px;
        font-family: Verdana Arial Georgia;        
        box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.4);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {background-color: rgb(158,215,215)}

    .dropdown:hover .dropdown-content {
        display: block;
    }


    div {
        width: inherit;
        background-color: rgb(250,225,236);
        float: left;
        clear: left;
        margin-bottom: 20px;
    }    

    section {
        width: inherit;
        background-color: rgb(240,255,248);
        float: left;
        clear: left;
        margin-bottom: 20px;
        border: 1px solid grey;
    }  
    section.intro {
        max-width: 54%;
        padding: 5%;
        font-family: Arial;
        font-size: 1.2em;
        line-height: 1.4em;
        text-align: justify;
        height: auto;
        float: left;
        border-left: 10px solid grey;
        margin-top: 1%;
    }

    section h2{
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Comic Sans MS;
    }    


    aside h3 {
        width: inherit;
        max-width: 33%;
        min-width: 33%;
        margin-top: 1%;
        background-color: #333;
        float: right;
        border: 1px solid grey;
        font-family: Comic sans MS;
        text-align: center;
        color:lightcoral;
        line-height: 40px;
        margin-bottom: 0;
    }

    aside.asidebox_text {
        padding: 0;
        min-width: 33%;
        max-width: 33%;
        height: 200px;
        background-color: #f1f1f1;
        float: right;
        border: 1px solid grey;
        font-family: Arial;
        color:#333;
        font-size: 14px;
        overflow: scroll;
    }
    aside ul {
        list-style: square;
    }

    aside.asidebox3_text {
        padding: 0;
        min-width: 33%;
        max-width: 33%;
        height: 200px;
        background-color: #f1f1f1;
        float: right;
        border: 1px solid grey;
        font-family: Arial;
        color:#333;
        font-size: 14px;
        overflow: scroll;

    }
}

/* =============================================================== */
/* TYPE 2 style */
@media only screen and (min-width:481px) and (max-width:768px) {
    body {
        margin: 0;
        padding:0;
        min-width: 90%;
        background-color: lightgoldenrodyellow;
    }

    header {
        width: inherit;
        min-height: 100px;
        max-height: 100px;
        background-color: rgb(125,125,125);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
        background: #e2e2e2; /* Old browsers */
        background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

        width: 90%;
        min-height: 50px;
        font-size: 1em;
        float: left;
        clear: both;
        margin: 2%;
        padding: 3%;
        margin-bottom: 10px;
        border-top: 3px solid white;
        border-bottom: 3px solid silver;
        border-left: 1px solid white;
        border-right: 1px solid silver;
    }
    
    header h1 {
        line-height: 1.1em;
        font-family: impact;
        color: rebeccapurple;
        overflow: hidden;
        text-align: center;
    }
    nav{
        margin:2%;
        padding: 0%;
        float: left;
        width: 96%;
    }
    nav ul {
        margin: 0%;
        padding: 1%;
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
    }
    
    nav li{
        display: block;
        min-width:33.33%;
        line-height: 1.7em;
        font-family: Verdana Arial Georgia;
        font-weight: bold;
        float: left;
        text-decoration: none;
    }

    nav select{
        display: none;
    }

   li a, .dropbtn {
       display: block;
       color: white;
       text-align: center;
       padding: 0px;
       text-decoration: none;
   }

   li a:hover, .dropdown:hover .dropbtn {
       background-color: red;
   }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        width: 31.3%;
        display: none;
        position: absolute;
        background-color: rgb(255,255,255);
        box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.4);
    }

    .dropdown-content a {
        color: black;
        padding: 1%;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: Verdana Arial Georgia;
        font-size: .9em;
        line-height: 1em;
    }

    .dropdown-content a:hover {background-color: rgb(158,215,215)}

    .dropdown:hover .dropdown-content {
        display: block;
    }
    section{
        margin: 2%;
        padding: 2%;
        
        
    }
   
    section.intro {
        float: left;
        min-width: 86%;            
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 0% 2% 0% 2%;
        border-left: 3px solid grey;
        border: 1px solid grey;
        background-color: rgb(240,255,248);
        font-family: Arial;
        font-size: 1em;
        text-align: justify;
        line-height: 1.3em;
    }

     section h2{
        margin: 2% 0% 0% 0%;
        padding: 0;
        text-align: center;
        font-family: Comic Sans MS;
    }    


    aside h3 {
        min-width: 90%;
        margin: 0% 2% 0% 2%;
        margin-bottom: 0;
        padding: 3%;
        background-color: #333;
        float: left;
        border: 1px solid grey;
        font-family: Comic sans MS;
        text-align: center;
        color:lightcoral;
        line-height: 14px;
    }

    aside ul {
        list-style: square;
    }

    aside.asidebox_text {
        float: left;
        max-height: 250px;
        min-width: 90%;
        margin: 2% 2% 2% 2%;
        padding: 0% 3% 0% 3%;
        border: 1px solid grey;
        background-color: #f1f1f1;
        font-family: verdana;
        font-size: 1em;
        color:#333;
        text-align: left;
        line-height: 1.1em;
        overflow: scroll;
    }

    aside.asidebox3_text {
        float: left;
        max-height: 250px;
        min-width: 90%;
        margin: 2% 2% 2% 2%;
        padding: 0% 3% 0% 3%;
        border: 1px solid grey;
        background-color: #f1f1f1;
        font-family: verdana;
        font-size: 1em;
        color:#333;
        text-align: left;
        line-height: 1.1em;
        overflow: scroll;
    }
}

/* =============================================================== */
/* TYPE 3 style */
@media only screen and (min-width:200px) and (max-width:480px) {
    body {
        margin: 0;
        padding:0;
        min-width: 90%;
        background-color: lightgoldenrodyellow;
    }

    header {
        width: inherit;
        min-height: 80px;
        max-height: 80px;
        background-color: rgb(125,125,125);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
        background: #e2e2e2; /* Old browsers */
        background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

        width: 90%;
        min-height: 50px;
        font-size: .8em;
        float: left;
        clear: both;
        margin: 2%;
        padding: 3%;
        border-top: 3px solid white;
        border-bottom: 3px solid silver;
        border-left: 1px solid white;
        border-right: 1px solid silver;
    }
    
    header h1 {
        line-height: .9em;
        font-family: impact;
        color: rebeccapurple;
        overflow: hidden;
        text-align: center;
    }
    nav{
        margin:1%;
        padding:0%;
        float: left;
        width: 98%;
    }
    nav ul {
        margin: 0%;
        padding: 1.1%;
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
    }
    
    nav li{
        display: block;
        min-width:100%;
        line-height: 1.4em;
        font-family: Verdana Arial Georgia;
        font-weight: bold;
        float: left;
        text-decoration: none;
    }

    nav select{
        display: none;
        
    }

   li a, .dropbtn {
       display: block;
       color: white;
       text-align: center;
       padding: 0px;
       text-decoration: none;
   }

   li a:hover, .dropdown:hover .dropbtn {
       background-color: red;
   }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        width: 96%;
        display: none;
        position: absolute;
        background-color: rgb(255,255,255);
        box-shadow: 0px 16px 30px 0px rgba(0,0,0,0.4);
    }

    .dropdown-content a {
        color: black;
        padding-right: 2%;
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: Verdana Arial Georgia;
        font-size: .9em;
        line-height: 1em;
        
    }

    .dropdown-content a:hover {background-color: rgb(158,215,215);}

    .dropdown:hover .dropdown-content {
        display: block;
    }
    section{
        margin: 2%;
        padding: 2%;
        
        
    }
   
    section.intro {
        float: left;
        max-height: 200px;
        min-width: 86%;            
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 0% 2% 0% 2%;
        border-left: 3px solid grey;
        border: 1px solid grey;
        background-color: rgb(240,255,248);
        font-family: Arial;
        font-size: .8em;
        text-align: left;
        line-height: 1em;
        word-break:normal;
        overflow: scroll;
    }

    aside h3 {
        min-width: 90%;
        margin: 0% 2% 0% 2%;
        margin-bottom: 0;
        padding: 3%;
        background-color: #333;
        float: left;
        border: 1px solid grey;
        font-family: Comic sans MS;
        text-align: center;
        color:lightcoral;
        line-height: 1em;
        font-size: 1em;
    }

    aside ul {
        list-style: disc;
    }

    aside.asidebox_text {
        float: left;
        max-height: 150px;
        min-width: 90%;
        margin: 2% 2% 2% 2%;
        padding: 0% 3% 0% 3%;
        border: 1px solid grey;
        background-color: #f1f1f1;
        font-family: verdana;
        font-size: .8em;
        color:#333;
        line-height: 1.1em;
        overflow: scroll;
        
    }

    aside.asidebox3_text {
        float: left;
        max-height: 150px;
        min-width: 90%;
        margin: 2% 2% 2% 2%;
        padding: 0% 3% 0% 3%;
        border: 1px solid grey;
        background-color: #f1f1f1;
        font-family: verdana;
        font-size: 1em;
        color:#333;
        line-height: 1.1em;
        word-break: normal;
        overflow: scroll;
    }
}
